@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
}

.nav{
    background-color: darkslategrey;
    display: flex;
    color: white;
    text-align: right;
    justify-content: space-between;
    font-size: large;
    left: 20px;
}
.nav-title{
    margin-left: 20px;
}




.nav-links {
    display: flex; 
    justify-content: space-between;
    gap: 40px;
}
li {
    list-style: none;
}
.home, .find,.active{
    color: white;
}
 
.btn{
    background-color: deepskyblue;
    color: white;
 }